%button-style {
    @include button-style;
}

%button-style-pseudo {
    &:hover {
        color: $buttonFontColor;
        background-color: $buttonBgColorActive;
        box-shadow: 0 0 10px rgba(#000, .3);
    }

    &:active {
        background-color: $buttonBgColor;
        box-shadow: none;
    }

    &:focus {
        outline: 0;
    }
}

button {
    cursor: pointer;
}

.button-style {
    @extend %button-style;
}

.button-large {
    @extend %button-style;
    padding: 15px 40px;
    font-size: 16px;
}

.button-medium {
    @extend %button-style;
    padding: 10px 20px;
    font-size: 14px;
}

.button-small {
    @extend %button-style;
    padding: 10px 15px;
    font-size: 12px;
}

.button-outline {
    background-color: transparent;
    color: #333;

    &:hover{
        background-color: $buttonBgColor;
        color: #fff;
    }
}

.button-inverse {
    @extend %button-style;
    color: $buttonFontColorActive;
    background-color: $buttonBgColorActive;

    &:hover,
    &:active {
        color: $buttonFontColor;
        background-color: $buttonBgColor;
    }
}

.button-block {
    display: block;
    width: 100%;
}

[type="submit"] {
    @extend %button-style;
    padding: 8px 10px;
}

@media #{$mobile} {
    .button-large {
        padding: 10px 30px;
        font-size: 14px;
        border-radius: 22px;
    }

    .button-medium {
        padding: 8px 20px;
        font-size: 12px;
        border-radius: 19px;
    }

    .button-small {
        padding: 8px 10px;
        font-size: 10px;
        border-radius: 17px;
    }
}

@media #{$tablet} {
    .button-large {
        padding: 11px 30px;
        font-size: 14px;
        border-radius: 24px;
    }

    .button-medium {
        padding: 11px 20px;
        font-size: 12px;
        border-radius: 22px;
    }

    .button-small {
        padding: 8px 15px;
        font-size: 10px;
        border-radius: 17px;
    }
}

@media #{$laptop} {
    .button-large {
        padding: 12px 40px;
        font-size: 14px;
        border-radius: 24px;
    }

    .button-medium {
        padding: 11px 25px;
        font-size: 12px;
        border-radius: 22px;
    }

    .button-small {
        padding: 8px 15px;
        font-size: 10px;
        border-radius: 17px;
    }
}

@media #{$desktop} {
    .button-large {
        padding: 15px 40px;
        font-size: 16px;
        border-radius: 28px;
    }

    .button-medium {
        padding: 11px 30px;
        font-size: 14px;
        border-radius: 23px;
    }

    .button-small {
        padding: 9px 15px;
        font-size: 12px;
        border-radius: 20px;
    }
}

@media #{$screen} {
    .button-large {
        padding: 15px 40px;
        font-size: 16px;
        border-radius: 28px;
    }

    .button-medium {
        padding: 11px 30px;
        font-size: 14px;
        border-radius: 23px;
    }

    .button-small {
        padding: 9px 20px;
        font-size: 12px;
        border-radius: 20px;
    }
}
