@mixin form-style {
    background-color: $formBgColor;
    padding: 25px;
    box-shadow: $shadow;
}

@mixin form-field-style {
    width: 100%;
    border: $formFieldBorderWidth solid $formFieldBorderColor;
    padding: $formFieldPadding;
    background-color: $formFieldBackgroundColor;
    color: $formFieldTextColor;
    font-size: $formFieldTextSize;
    border-radius: $formFieldBorderRadius;
}

%form-field-style {
    @include form-field-style();
}

form {
    fieldset {
        @include form-style;

        label {
            font-weight: 800;
        }

        input {
            width: 100%;
            margin-bottom: 20px;
            @extend %form-field-style;
        }

        [type="submit"] {
            @include button-style;
            margin-bottom: 0;
        }

        textarea {
            width: 100%;
            margin-bottom: 30px;
            @extend %form-field-style;
        }
    }
}

//Search form style
.form-inline {
    margin: 0 auto;
    max-width: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
        width: calc(100% - 40px);
        @extend %form-field-style;

        &:focus {
            border: 1px solid $themeColorTwo;
        }
    }
}

//Search form style end

//Comment form on single post page
#commentform {
    max-width: 540px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(43, 27, 0, 0.3);
    margin-bottom: 30px;

    .form-group {
        label {
            text-align: left;
        }

        input {
            @extend .form-field;
        }

        textarea {
            @extend .form-field;
            margin-bottom: 10px;
        }
    }
}

//Comment form  end

[type='text'],
[type='password'],
[type='email'],
[type='search'],
[type='tel'],
[type='url'],
[type='number'],
[type='range'],
[type='month'],
[type='week'],
[type='date'],
[type='datetime-local'],
[type='time'],
textarea,
select {
    @extend %form-field-style;
}

.is-mobile {
    input,
    select {
        appearance: none;
    }
}

.form {
    &-row {
        @extend %clearfix;
        margin-bottom: 20px;
    }

    &-columns {
        margin-bottom: 0;
        font-size: 0;
    }

    &-column {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin-bottom: 20px;

        & + & {
            margin-left: 2%;
        }
    }

    &-field {
        width: 100%;
        padding: 9px 14px;
        border: 3px solid #ede8e2;
        font-size: 14px;
        font-weight: normal;
        font-family: inherit;
        line-height: 1.5;
        border-radius: 4px;
        @extend %smooth_animation;

        &:focus {
            outline: 0;
            border-color: #ff9f00;
        }
    }
}

.custom-checkbox {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 25px;
    font-size: 11px;
    line-height: 1.3;
    color: #999692;

    [type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 0;
        position: absolute;
        top: 3px;
        left: 0;
        opacity: 0;

        &:checked {
            + .checkbox {
                background-image: image-url('check.png');
            }
        }
    }

    .checkbox {
        position: absolute;
        top: 3px;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #ede8e2 none no-repeat center center;
    }
}
