
@media only screen and (max-width: 960px) {
    .info {
        &-item {
            width: 50%;
        }
    }

    .payment {
        &-thumbnail {
            display: none;
        }

        &-column {
            margin-left: 0;
            width: auto;
            padding: 25px 0;
        }
    }

    .specification {
        &-item {
            width: percentage(1/3);
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .project {
        &-list {
            margin-top: 0;
        }

        &-item {
            padding: 20px;
            margin: 0 auto 30px;
            max-width: 600px;
        }

        &-thumbnail {
            position: static;
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }

        &-logo {
            top: 25px;
            right: 25px;
        }

        &-details {
            width: auto;

            li {
                + li {
                    margin-top: 10px;
                }
            }
        }

        &-price {
            &-value {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .section {
        &-headline {
            margin-bottom: 30px;
        }

        &-title {
            margin-bottom: 20px;

            &.with-divider {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .blog {
        &-item {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    .specification,
    .philosophy,
    .duplexes,
    .location,
    .application {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .specification {
        &-item {
            width: percentage(1/2);
        }
    }

    .philosophy {
        &-thumbnail,
        &-box,
        &-content {
            width: auto;
            float: none;
            position: static;
            max-width: 100%;
        }

        &-box {
            padding: 20px;
        }
    }

    .payment {
        &-column {
            p {
                + .svg-icon {
                    margin-top: 0;
                }
            }

            .svg-icon {
                + h2 {
                    margin-top: 15px;
                }
            }
        }
    }

    .footer {
        text-align: center;

        &-main {
            padding: 20px 0 0;
        }

        .widget {
            &-item,
            &-title {
                margin-bottom: 10px;
            }

            &-item {
                .phone-number {
                    font-size: 14px;
                }
            }

            &_nav_menu {
                li {
                    width: auto;
                    padding-right: 0;
                    margin: 0 10px 10px 0;
                }
            }
        }

        .phone {
            margin-bottom: 10px;
        }

        .social-item {
            margin: 5px 20px;
        }

        &-copyright {
            padding: 10px 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .info {
        &-list {
            text-align: center;
        }

        &-item {
            width: 100%;
            max-width: 320px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 544px) {
    .vego {
        &-list {
            padding: 20px 0;
            text-align: center;
            font-size: 15px;

            .highlight {
                font-size: 35px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .section {
        &-headline {
            margin-bottom: 15px;
        }

        &-content {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .specification {
        &-item {
            width: 100%;
        }
    }

    .blog {
        &-item {
            width: 100%;
            margin-bottom: 20px;
        }

        &-thumbnail,
        &-datetime {
            margin-bottom: 10px;
        }
    }

    .project {
        &-item {
            padding: 15px;
        }

        &-side {
            &-left,
            &-right {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-price {
            display: block;
            text-align: center;
        }

        &-link {
            margin-top: 10px;
            position: static;
            display: block;
        }
    }

    .box {
        &-head {
            font-size: 16px;
        }

        &-body {
            [href^="tel:"] {
                font-size: 16px;
            }
        }
    }

    .feedback {
        &-box {
            padding: 20px;
        }

        &-headline {
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }

    .form {
        &-column {
            display: block;
            width: 100%;
            float: none;

            & + & {
                margin-left: 0;
            }
        }

        &-row,
        &-column {
            margin-bottom: 15px;
        }

        &-columns {
            margin-bottom: 0;
        }
    }
}