.section {
    &-content {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &-headline {
        margin-bottom: 45px;
        @include responsive-font-size(24px, 40px, 480px, 1024px, 32px);
    }

    &-title {
        color: #333;
        font-weight: bold;
        @include responsive-font-size(20px, 30px, 480px, 1024px, 24px);
        margin-bottom: 50px;

        .highlight {
            color: #ff9f00;
        }

        &.with-divider {
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 51px;
                height: 3px;
                margin: auto;
                background-color: #ff9f00;
            }
        }
    }
}

.article {
    @extend %clearfix;

    h1:not(.section-headline) {
        font-size: 18px;
        line-height: (24/18);
        margin-bottom: 30px;
    }

    h2, h3, h4 {
        line-height: 1.2;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 13px;
    }

    &,
    p {
        text-align: left;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}

.info {
    &-list {
        @extend %reset-list;
        font-size: 0;
        margin: 0 -10px;
    }

    &-item {
        display: inline-block;
        vertical-align: top;
        width: percentage(1/3);
        color: #999;
        font-size: 11px;
        line-height: 1.3;
        font-weight: 600;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    &-box {
        position: relative;
        height: 200px;
        background: #fff none no-repeat center center;
        background-size: cover;
        box-shadow: 0 5px 20px rgba(#000, .25);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50%;
            background-image: linear-gradient(to top, rgba(#22313a, .85), transparent);
        }
    }

    &-labels {
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 0;
    }

    &-group {
        position: absolute;
        bottom: 15px;
        left: 20px;
    }

    &-city {
        padding: 3px 7px;
        color: #333;
        font-weight: bold;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 12px;

        .fas {
            color: #ff9f00;
            font-size: 14px;
        }
    }

    &-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        color: #fff;
    }

    &-footer {
        overflow: hidden;
        margin: 0 10px;
        background-color: #fff;
        box-shadow: 0 5px 20px rgba(#000, .15);
    }

    &-price {
        padding: 5px 13px;

        &-value {
            color: #333;
            font-size: 18px;
        }
    }

    &-link {
        float: right;
        border: 0;
        padding: 9px 19px;
        background-color: #6e4500;
        color: #fff;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 800;
        text-align: center;
        @extend %smooth_animation;

        &:hover {
            color: #fff;
            background-color: lighten(#6e4500, 5%);
        }
    }
}

.label {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    font-size: 13px;
    line-height: (16/13);
    letter-spacing: (75*13/1000) * 1px;
    background-color: #ccc;
    box-shadow: 0 2px 5px rgba(#000c25, .5);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -14px;
        border: 14px solid #ccc;
        border-right: 0;
        border-left-color: transparent;
    }

    & ~ & {
        margin-top: 10px;
    }

    &-green {
        background-color: #337f00;

        &::before {
            border-color: #337f00;
            border-left-color: transparent;
        }
    }

    &-orange {
        background-color: #ff9f00;

        &::before {
            border-color: #ff9f00;
            border-left-color: transparent;
        }
    }

    &-purple {
        background-color: #6c00c7;

        &::before {
            border-color: #6c00c7;
            border-left-color: transparent;
        }
    }

    &-red {
        background-color: #b50000;

        &::before {
            border-color: #b50000;
            border-left-color: transparent;
        }
    }

    &-blue {
        background-color: #306ce5;

        &::before {
            border-color: #306ce5;
            border-left-color: transparent;
        }
    }
}

.blog {
    &-latest {
        margin-top: 70px;

        .blog {
            &-list {
                margin-top: 0;
                margin-bottom: 0;
            }

            &-item {
                margin-bottom: 20px;
            }
        }
    }

    &-headline {
        position: relative;
        @include responsive-font-size(20px, 30px, 480px, 1024px, 24px);
        padding-bottom: 35px;
        margin-bottom: 45px;

        span {
            color: #ff9f00;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 51px;
            height: 3px;
            background-color: #ff9f00;
        }
    }

    &-list {
        @extend %reset-list;
        margin: 20px -15px;
        font-size: 0;
    }

    &-item {
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        width: percentage(1/3);
        margin-bottom: 45px;
        color: #333;
        font-size: 14px;
        line-height: (18/14);
        font-weight: 600;
    }

    &-thumbnail {
        height: 145px;
        background: #ff9f00 none no-repeat center center;
        background-size: cover;
        box-shadow: 0 8px 15px rgba(#000, .3);
        margin-bottom: 20px;

        &-md {
            width: 460px;
            height: 305px;
            margin-bottom: 40px;
        }
    }

    &-datetime {
        color: #999;
        font-size: 11px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    &-title,
    &-link {
        font-size: 14px;
        line-height: (18/14);
        font-weight: 600;
        text-decoration: none;
    }

    &-link {
        color: #e68f00;

        &:hover {
            color: #333;
            text-decoration: none;
        }
    }
}

.payment {
    position: relative;

    &-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        background: none no-repeat center center;
        background-size: cover;
    }

    &-column {
        padding: 50px 0 60px 60px;
        width: 50%;
        margin-left: 50%;

        h2 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            line-height: (22/14);
            text-align: left;
            margin-bottom: 20px;

            + .svg-icon {
                margin-top: 25px;
            }
        }

        .svg-icon {
            + h2 {
                margin-top: 30px;
            }
        }
    }
}

.feedback {
    &-box {
        max-width: 540px;
        padding: 35px 40px 40px;
        background-color: #fff;
        box-shadow: 0 8px 30px rgba(#2b1b00, .3);
    }

    &-headline {
        position: relative;
        color: #333;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 40px;
        padding-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 36px;
            height: 3px;
            background-color: #ff9f00;
        }
    }
}

.share {
    padding: 10px 20px;
    color: #999;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f5f0e9;

    &,
    &-text {
        display: inline-block;
        vertical-align: middle;
    }

    &-social {
        .social-item {
            margin: 0 0 0 20px;
        }
    }
}

.pagination {
    &-list,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-list {
        @extend %reset-list;
        font-size: 0;
    }

    &-item {
        font-size: 16px;
        margin: 0 5px;
    }

    &-link {
        display: block;
        min-width: 34px;
        padding: 7px 11px;
        color: #ff9f00;
        font-size: 16px;
        line-height: 1.25;
        text-decoration: none;
        background-color: transparent;
        border-radius: 50%;
        @extend %smooth_animation;

        &:hover {
            color: #fff;
            background-color: #333334;
        }

        &.is-current {
            color: #fff;
            background-color: #333334;
        }

        &.disabled {
            cursor: auto;
            color: #ccc;
            pointer-events: none;
            background-color: transparent;
        }

        &:not(:disabled),
        &:not(.disabled) {
            cursor: pointer;
        }

    }

    &-dots {
        &,
        &:hover {
            cursor: default;
            color: #333;
            background-color: transparent;
        }
    }

    &-prev {
        margin-right: 5px;
    }

    &-next {
        margin-left: 5px;
    }
}

.project {
    &-list {
        margin-top: 80px;
    }

    &-item {
        position: relative;
        min-height: 340px;
        padding: 30px 25px 30px 400px;
        margin: 0 0 60px;
        font-size: 14px;
        color: #333;
        line-height: (16/14);
    }

    &-thumbnail {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 340px;
        height: 340px;
        background: none no-repeat center center;
        background-size: cover;
    }

    &-item,
    &-thumbnail {
        background-color: #fff;
        box-shadow: 0 8px 30px rgba(#2b1b00, .15);
    }

    &-header {
        margin-bottom: 15px;
    }

    &-type {
        margin-bottom: 5px;
    }

    &-logo {
        position: absolute;
        top: 35px;
        right: 35px;
        max-width: 145px;
        max-height: 55px;
    }

    &-price {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 15px;
        color: #303030;
        font-size: 16px;
        background-color: #f5f0e9;
        border-radius: 5px;

        &-value {
            font-size: 24px;
        }
    }

    &-info {
        position: relative;
        min-height: 100px;
    }

    &-details {
        @extend %reset-list;
        width: 250px;

        li {
            overflow: hidden;
            color: #999;
            font-size: 14px;
            line-height: (16/14);

            & + li {
                margin-top: 25px;
            }
        }

        span {
            color: #333;
            float: right;
            padding-left: 10px;
            width: 140px;
        }
    }

    &-side {
        &-left,
        &-right {
            display: inline-block;
            vertical-align: top;
        }

        &-left {
            width: 45%;
        }

        &-right {
            width: 54%;
        }
    }

    &-title {
        @include responsive-font-size(20px, 36px, 480px, 1024px, 28px);
    }

    &-link {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &-map {
        margin-top: -240px;
        margin-bottom: -170px;
        position: relative;
        height: 860px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            pointer-events: none;
        }

        &:before {
            height: 60%;
            top: 0;
            background-image: linear-gradient(to bottom, #fff, transparent);
        }

        &::after {
            height: 40%;
            bottom: 0;
            background-image: linear-gradient(to top, #fff, transparent);
        }

        .google-map {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

.specification {
    padding: 60px 0 30px;

    &-list {
        @extend %reset-list;
        font-size: 0;
    }

    &-item {
        display: inline-block;
        vertical-align: top;
        width: percentage(1/4);
        padding: 0 15px;
        margin-bottom: 40px;
        color: #333;
        font-size: 14px;
        line-height: 1.3;
    }

    &-icon {
        display: block;
        width: 95px;
        height: 95px;
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: #f5f0e9;
        box-shadow: 0 8px 15px rgba(#331e00, .07);
        margin: 0 auto 20px;

        img,
        .svg-icon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        img {
            max-width: 35px;
            max-height: 35px;
        }
    }
}

.philosophy {
    padding: 30px 0;

    &-list {
        @extend %reset-list;
    }

    &-item {
        position: relative;
        overflow: hidden;
        min-height: 320px;
    }

    &-thumbnail {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        min-height: 320px;
        background: #ff9f00 none no-repeat center center;
        background-size: cover;

        &.on-left {
            left: 0;
            right: 0;
        }

        &.on-right {
            right: 0;
        }
    }

    &-box {
        padding: 40px;
        width: 50%;

        &.on-left {
            float: left;

            .philosophy-content {
                margin-left: auto;
            }
        }

        &.on-right {
            float: right;

            .philosophy-content {
                margin-right: auto;
            }
        }
    }

    &-content {
        max-width: 470px;
    }

    &-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 20px;
    }

    &-desc {
        color: #333;
        font-size: 14px;
        line-height: (22/14);
    }
}

.duplexes {
    padding: 30px 0;
}

.location {
    position: relative;
    padding: 65px 0 95px;
    overflow: hidden;

    .highlight {
        color: #ff9f00;
    }

    &-map,
    .google-map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .google-map {
        bottom: -15px;
        right: -50%;
    }

    &-map {
        background-color: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            height: 50%;
        }

        &::before {
            top: -5%;
            background-image: linear-gradient(to bottom, #fff, transparent);
        }

        &::after {
            bottom: -5%;
            background-image: linear-gradient(to top, #fff, transparent);
        }
    }

    &-box {
        position: relative;
        z-index: 1;
    }
}

.application {
    @extend %clearfix;
    position: relative;
    padding: 57px 0;
    background: #bebebe none no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 14px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#231600, .65);
    }

    &-content {
        float: left;
        padding-top: 40px;
        max-width: 620px;
    }

    &-form {
        float: right;
        max-width: 300px;
    }

    &-action {
        @include responsive-font-size(20px, 30px, 480px, 1024px);
        line-height: 1.35;
        margin-bottom: 65px;

        .highlight {
            color: #ff9f00;
        }
    }

    &-list {
        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 49%;
            padding: 0 15px 0 35px;
            font-size: 14px;
            line-height: (22/14);
            margin-bottom: 30px;

            &::before {
                content: "\f00c";
                @include fa-icon;
                font-family: 'Font Awesome 5 Pro';
                font-weight: 900;
                position: absolute;
                top: 5px;
                left: 0;
                font-size: 20px;
                color: #ff9f00;
            }
        }
    }
}

.contacts {
    position: relative;
    overflow: hidden;

    &-map {
        &,
        &::before,
        .google-map {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .google-map {
            bottom: -15px;
            right: -50%;
        }

        &::before {
            content: '';
            right: auto;
            z-index: 1;
            width: 70%;
            background: #fff;
            background: linear-gradient(to right, #fff 0%, #fff 75%, transparent 100%);
        }
    }

    &-box {
        position: relative;
        z-index: 1;
    }
}

.box {
    &-group {
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;
        color: #333;
        font-size: 14px;
        line-height: (22/14);

        &.mb-0 {
            margin-bottom: 0;
        }
    }

    &-icon {
        position: absolute;
        top: 2px;
        left: 0;
        color: #ff9f00;
        font-size: 20px;
    }

    &-head {
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &-body {
        font-size: 14px;
        line-height: (22/14);

        [href^="tel:"] {
            color: #333;
            font-size: 22px;
            font-weight: 300;
        }

        [href^="mailto:"] {
            display: inline-block;
            margin-top: 10px;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.gallery {
    padding: 30px 0;
    position: relative;

    *:focus {
        outline: 0;
    }

    &-count {
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 1;
        color: #ff9f00;
        font-size: 36px;
        font-weight: bold;
    }

    &-current,
    &-total {
        display: inline-block;
        line-height: 50px;
    }

    &-current {
        color: #fff;
        font-size: 60px;
    }

    &-preview {
        background-color: #fbf9f6;
        box-shadow: 0 8px 30px rgba(#2b1b00, .45);
    }

    &-thumbnail {
        position: relative;

        .image {
            display: block;
            width: 160px;
            height: 90px;
            margin: 30px auto;
            border: 3px solid #fff;
            border-radius: 4px;
            background: #fbf9f6 none no-repeat center center;
            background-size: cover;
            box-shadow: 0 8px 30px rgba(#2b1b00, .3);
        }

        .slick-current & {
            top: 10px;

            .image {
                border-color: #ff9f00;
            }
        }
    }

    &-nav {
        position: relative;
        top: -60px;
    }

    &-arrows {
        position: relative;
        height: 40px;

        .slick-arrow {
            position: absolute;
            top: 0;
            border: 0;
            background-color: transparent;
            color: #ff9f00;
            font-size: 30px;
            line-height: 1;
            padding: 5px 10px;
        }

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }
    }
}
