.text {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }

    &-light {
        font-weight: 300;
    }

    &-semibold {
        font-weight: 600;
    }

    &-bold {
        font-weight: 700;
    }

    &-extrabold {
        font-weight: 800;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-underline {
        text-decoration: underline;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-muted {
        color: $textMutedColor;
    }
}

.pull {
    &-right {
        float: right;
    }

    &-left {
        float: left;
    }

    &-none {
        float: none;
    }
}

.hide {
    &-on {
        &-mobile {
            display: block !important;
        }

        &-desktop {
            display: none !important;
        }
    }
}

.link {
    text-decoration: underline;
    color: $themeColorThree;
}

.bold {
    font-weight: 700;
}

.center-block {
    text-align: center;
    display: block !important;
    margin: 0 auto;
}

.d {
    &-block {
        display: block;
    }

    &-inline-block {
        display: inline-block;
    }
}

//xs 544
@media #{$mobile} {
    .hide {
        &-on {
            &-mobile {
                display: none !important;
            }

            &-desktop {
                display: block !important;
            }
        }
    }
}